@{
    ViewData["Title"] = "Home Page";
}
@model Student
<div class="text-center">
    <form method="post" asp-action="Index">
        @if (TempData["Error"]!= null)
        {
            <span>@TempData["Error"]</span>
        }
        <input type="text" class="form-control" value="14/01/2024 01:04 PM" asp-for="StartDate" asp-format="{0:dd/MM/yyyy HH:mm tt}">
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
